---
title: About Your page
layout: base.njk
---

<div class="container">
    <h1>This is your about page</h1>
    <p>This page was made using HTML, CSS and JS and served as a JAMStack site.</p>
    <ul>
        {% for item in news %}
        <li>
            <a href="/{{ item.country }}">
                <h5>{{ item.country }}</h5>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
<script src="/js/vibe.js"></script>