---
title: Your page
layout: base.njk
---

<div class="container">
    <h1>Here is your page</h1>
    <div class="vibe">You are great!</div>
    <div class="love">❤</div>
</div>
<script src="/js/vibe.js"></script>