---
title: Your page
layout: base.njk
---

<div class="container">
    <h1>Here is your page</h1>
    <div class="vibe">You are great!</div>
    <div class="love">❤</div>
    <div id="weather" class="hidden">
        <h2>The weather near you:</h2>
        <p id="area"></p>
        <p id="temp"></p>
        <p id="condition"></p>
        <p id="desc"></p>
    </div>
    <ul>
    {% for article in news[0].articles %}
        <li>
            <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
            <span><p>{{ article.source.name }} - <time>{{ article.publishedAt }}</time></p></span>
        </li>
    {% endfor %}
    </ul>
</div>
<script src="/js/vibe.js"></script>
<script src="/js/weather.js"></script>